@import '../../assets/styles/theme.scss';

.gridContainer {
	display: grid;
	grid-template-columns: 150px minmax(40%, 1fr) minmax(40%, 0.75fr);
	grid-template-rows: 70px 1fr;
	height: 100vh;
	overflow-y: hidden;
}

.wrapper {
	background-color: $lightGrey;
	display: flex;
	justify-content: center;
	// align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	grid-column: 2/3;
	grid-row: 2/3;
}
