@import '../../../assets/styles/theme.scss';
.addButton {
	margin: 15px 5px 0px 0px;
	padding: 7px 20px;
	font-size: $s;
	background-color: $darkGrey;
	border-radius: 25px;
	border: none;
	font-weight: bold;
	color: $white;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		background-color: $black;
	}
}
